.info {

	margin-top: 50px;
	display: flex;
	flex-direction: column;
	font-size: 18px;

	span{
		font-weight: bold;
	}
	&>*{
		margin-bottom: 20px;
	}
	// align-items: center;
	// justify-content: center;
	// max-width: 1000px;

	// .info__title

	&__title {
		text-align: center;
		font-size: 30px;
		
	}

	// .info__annotation

	&__annotation {
	}

	// .info__category

	&__category {
	}

	// .info__author

	&__author {
	}

	// .info__publisher

	&__publisher {
	}

	// .info__price

	&__price {
	}

	// .info__cart

	&__cart {
	}
}

