
.checkbox-primary {

	// .checkbox__input

	&__input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	// .checkbox__label

	&__label {
	}
}


.checkbox-primary__input+.checkbox-primary__label:before {
  content: '✔︎';
  display: inline-flex;
	justify-content: center;
	align-items: center;
  width: 1.5em;
  height: 1.5em;
  @include border;
  margin-right: 0.5em;
	color: $white;
	cursor: pointer;
}


.checkbox-primary__input:checked+.checkbox-primary__label:before {
	content: '✔︎';
  background: $gold-l;
}