
.sort-list {

	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 15px;
	margin-bottom: 20px;

	// .sort-list__view

	&__view {
		
	}

	// .sort-list__view-btn

	&__view-btn {
		margin-right: 10px;
	}

	// .sort-list__found

	&__found {
		font-size: 20px;
		align-self: center;
	}

	// .sort-list__amount

	&__amount {
	}
}

